target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/nbproject/private
boris.properties
eprtr.properties
moss.properties
*.log
bundeslaender.properties
gwk.properties
/src/main/resources/de/cismet/cids/custom/udm2020di/indeximport/wa/
/src/main/resources/de/cismet/cids/custom/udm2020di/indeximport/moss/konvert_join_95_10_final.xls